<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
 
<html xmlns="http://www.w3.org/1999/xhtml" > 
<head>
	<%= stylesheet_link_tag "blueprint/screen" %>
	<%= stylesheet_link_tag "site" %>	
	<%= javascript_include_tag :defaults %>
</head>


<body>
	<div class="wrapper">
	<div id="header">
		<div class="container">
			<div class="span-18">
				<%= link_to image_tag("logo-large.png", :class => 'left') , {:controller => 'home', :action=>'index'} %>		
			</div>
			<div class="span-6 last">
				<div id="nav_container">
					<ul id="nav">
						<li><a href="#"><h3>Code</h3></a></li>
						<li><%= link_to "<h3>About</h3>", {:controller => 'home', :action=>'about'} %></li>
						
					</ul>
				</div>
			</div>	
		</div>
	</div>		
	<%= yield %>
	<div class="push"></div>
	</div>
	<div id="footer">
		<div class="container">
			<div class="span-8 prepend-top">
				<h3>Uhhh What is this?</h3>
				<p>This little ditty was whipped up more or less on a dare. I wanted a reason to learn some Ruby on Rails
				and what better way than by commiting to speak about it at a 
				<a href="http://www.esri.com/events/devsummit/index.html">conference.</a></p>
			</div>
			<div class="span-8 prepend-top">
				<h3>Who did this?</h3>
				<p>Ok, I'll admit it - I did this. But who am I you ask? Find out <a href="http://blog.davebouwman.com">here</a> or just
				drop me a line at dave [at] davebouwman [dot] com</p>
			</div>
			<div class="span-8 prepend-top last">
				<h3>This data is wrong!</h3>
				<p>Yes, it likely is! This is just a technology demo site - if you are looking for real data for Portland, got to
				<a href="http://www.portlandmaps.com/detail.cfm?action=Explorer&ZoomLevel=1&x=7655000&y=680000">PortlandMapsOnline.com</a></p>
				
				
			</div>		
		</div>
	</div>

</body>

</html>